<div style="margin-top: 60px; padding: 10px;">
    <button type="button" class="btn btn-primary" (click) = "openProvidersModal()">Vincular</button>
    <button id="selectFolder"type="button" class="btn btn-primary" (click) = "selectFolder()" style="margin-left: 20px;">Seleccionar carpeta</button>
    <button type="button" class="btn btn-primary" (click) = "createFileData()" style="margin-left: 20px;">Crear archivo nuevo</button>
    <button type="button" class="btn btn-primary" (click) = "createFolder()" style="margin-left: 20px;">Crear carpeta</button>
    <button type="button" class="btn btn-primary" (click) = "downloadFile()" style="margin-left: 20px;">Descargar archivo</button>
    <button type="button" class="btn btn-primary" (click) = "changePermissions('view')" style="margin-left: 20px;">Ver permisos</button>
    <button type="button" class="btn btn-primary" (click) = "changePermissions('add')" style="margin-left: 20px;">Añadir permisos</button>
    <button type="button" class="btn btn-primary" (click) = "changePermissions('remove')" style="margin-left: 20px;">Borrar permisos</button>
</div>
